<h1 class="text-center">Sign in</h1>

<div class="form-horizontal" role="form">
  <div class="form-group">
<%= form_for(:session, url: sessions_path) do |f| %>
<%= f.label :name, class: "col-sm-2 control-label" %>
  <div class="col-sm-9">
  <%= f.text_field :name, class: "form-control", placeholder: "You name here"  %><br/>
</div>
  <%= f.label :email, class: "col-sm-2 control-label" %>
  <div class="col-sm-9">
  <%= f.text_field :email, class: "form-control", placeholder: "example@email.com" %><br/>
</div>
<div class="col-sm-offset-2 col-sm-10">
  <%= f.submit "Sign in", class: "btn btn-primary btn-lg" %>
</div>
  <% end %>
  </div>
</div>



