<h1 class="text-center">Upcoming Events!</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Host</th>
      <th>About</th>
      <th>Date</th>
      <th>Attending</th>
    </tr>
  </thead>
  <tbody>
    <% @upcoming_events.each do |e| %>
    <tr>
      <td><%= e.creator.name %></td>
      <td><%= link_to e.description, e %></td>
      <td><%= e.date %></td>
      <td><%= e.attendees.count %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h1 class="text-center">Check out Past Events</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Host</th>
      <th>About</th>
      <th>Date</th>
      <th>Attended</th>
    </tr>
  </thead>
  <tbody>
    <% @past_events.each do |e| %>
    <tr>
      <td><%= e.creator.name %></td>
      <td><%= link_to e.description, e %></td>
      <td><%= e.date %></td>
      <td><%= e.attendees.count %></td>
    </tr>
    <% end %>
  </tbody>
</table>

    <p>
      New User?
    </p>
    <%= link_to "Signup", signup_path, class: "btn btn-lrg btn-primary" %>
