<h1 class="text-center">Create an Event</h1>

<div class="form-horizontal" role="form">
  <div class="form-group">
    <%= form_for @event do |e| %>

      <%= e.label :description %><br/>
      <%= e.text_area :description, class: "form-control" %><br/>
      <%= e.label :date %><br/>
      <%= e.date_select :date, class: "form-control" %><br/>

      <%= e.submit "Create Event", class: "btn btn-lrg btn-primary" %>
    <% end %>
  </div>
</div>
